@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {    
  scrollbar-width: none;
  margin: 0%;
  padding: 0;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}

@layer base {
  @font-face {
    font-family: 'Mansory';
    src: url('./fonts/Mansory.otf') format('opentype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-ThinItalic.ttf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('./fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: 500;
  }

  
}

body {
  font-family: 'Arial', 'Mansory', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

[data-speed] {
  will-change: transform;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-container::before,
.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2%; /* Reduced width for mobile */
  z-index: 2;
  pointer-events: none;
}

@media (min-width: 768px) {
  .carousel-container::before,
  .carousel-container::after {
    width: var(--carousel-gradient-width, 13%) /* Original width for larger screens */
  }
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}
