@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {    
  scrollbar-width: none;
  margin: 0%;
  padding: 0;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}

@layer base {
  @font-face {
    font-family: 'Mansory';
    src: url('./fonts/Mansory.otf') format('opentype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-ThinItalic.ttf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('./fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Forum-Regular';
    src: url('./fonts/Forum-Regular.ttf') format('opentype');
    font-weight: 500;
  }


  
}

body {
  font-family: 'Arial', 'Mansory', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

[data-speed] {
  will-change: transform;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

